layout python3

location=$(cd "$(dirname "${BASH_SOURCE[0]}")" && pwd)
echo $location
if [[ -f "$location/.env-${USER}" ]]; then
    set -o allexport
    source "$location/.env-${USER}"
    echo "Sourced $location/.env-${USER}"
    set +o allexport
fi
